#editor * {
    font-family: inherit !important;
}

#blocks {
    position: relative;
}

#blocks .dragging {
    cursor: grab;
    position: absolute;
    z-index: 100;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

#blocks button {
    transition: 0.4s ease;
}

.dragging {
    box-shadow: 0px 1px 5px #000;
    transform: scale(1.05);
}

.space-placeholder {
    position: relative;
    min-height: 40px;
    background: #0000;
    border: dashed 3px #333;
    width: 100%;
    display: none;
}

.space-placeholder.space-dragging {
    display: block;
}