small {
    font-size: .75rem;
}

table a {
    text-decoration: none;
    color: rgb(var(--bs-secondary-rgb));
    font-weight: 500;
}

.hover {
    transition: 0.3s;
    opacity: 0;
}
.hover:hover {
    opacity: 1;
}

a.hover-blue:hover,
a.hover-blue:hover small {
    color: rgb(var(--bs-primary-rgb)) !important;
}

a.hover-red:hover,
a.hover-red:hover small {
    color: rgb(var(--bs-danger-rgb)) !important;
}

* {
    font-size: 98.5%;
    font-weight: 500;
    /*color: rgb(var(--bs-secondary-rgb));*/
}

ion-icon {
    font-size: 14px;
    margin-bottom: -2px;
}

html[data-bs-theme="dark"] #logo svg [fill="black"] {
    fill: white;
}

.btn:hover ion-icon {
    color: black;
}